<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/chat/style.css">
    <title>Chat</title>
</head>
<body>
    <div class="contentMain">
        <header class="content">

        </header>
        <section class="content">

        </section>
        <footer class="content">

        </footer>
    </div>
</body>
</html>