<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/ico_usuario.png">
    <link rel="stylesheet" type="text/css" href="css/home/style.css">
    <title>Home</title>
</head>
<body>
    <div class="contentMain">
        <div class="box">
            <div class="img">
                <img src="img/multiroom_chat.png">
            </div>
            <div class="logArea">
                <input class="name" name="name" placeholder="Nome ou apelido">
                <br>
                <button type="submit" class="buttonLog">Entrar >></button>
            </div>
        </div>
    </div>
</body>
</html>